<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="assets\img\TGIF.png">
    <title>Senate Attendance</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets\css\styles.css">
</head>
<body>
  <div class="container-fluid" id="app">
    <header>
      <img src="assets\img\HomePageTGIF.png" alt="Logo TGIF">
    </header>
    <nav class="navbar navbar-expand-sm ">
        <ul class="navbar nav">
          <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
          <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" href="#">Congress 113</a>
            <ul>
              <div class="dropdown-menu">
              <a class="dropdown-item" href="senatorsHome.html">Senate</a>
              <a class="dropdown-item" href="representativesHome.html">House</a>
            </div>
            </ul>
          </li>            
        <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" href="#">Attendance</a>
          <ul>
            <div class="dropdown-menu">
            <a class="dropdown-item" href="senateAttendance.html">Senate</a>
            <a class="dropdown-item" href="representativesAttendance.html">House</a>
          </div>
          </ul>
        </li>
        <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" href="#">Party Loyalty</a>
          <ul>
            <div class="dropdown-menu">
            <a class="dropdown-item" href="senatePartyLoyalty.html">Senate</a>
            <a class="dropdown-item" href="representativesPartyLoyalty.html">House</a>
          </div>
          </ul>
        </li>
      </ul>
    </nav>
    <div class="container">
    <section>
      <article>
          <div class="row justify-content-start">
            <div class="col-md-6">
              <div>
                <h2>Attendance</h2>
                <p>The Constitution specifies that a majority of members constitutes a quorum to do business in each house.<br/>
                  Representatives and senators rarely force the presence of a quorum by demanding quorum calls;<br/>
                  thus, in most cases, debates continue even if a majority is not present.</p>
                <p>The Senate uses roll-call votes; a clerk calls out the names of all the senators,<br/>
                  each senator stating "aye" or "no" when his or her name is announced.<br/>
                  The House reserves roll-call votes for the most formal matters,<br/>
                  as a roll-call of all 435 representatives takes quite some time; normally, members vote by electronic device.<br/>
                  In the case of a tie, the motion in question fails.<br/>
                  In the Senate, the Vice President may (if present) cast the tiebreaking vote.</p>
              </div>
            </div>
            <div class="col-md-6">
              <h3>Senate At Glance</h3>
              <div class="table">
                <table class="table-bordered">
                  <thead>
                    <tr>
                        <th>Party</th>
                        <th>Number of Reps</th>
                        <th>% Voted with Prty</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(value, key) in parties">
                      <td>{{value.name}}</td>
                      <td>{{value.members}}</td>
                      <td>{{value.percentage}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </article>
        <article>
          <div class="row">
            <div class="col-md-6">
              <h3>Least Engaged (Bottom 10% Attendance)</h3>
              <div class="table">
                <table class="table-bordered">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Missed Votes</th>
                      <th>% Missed Votes</th>
                    </tr>
                  </thead>
                    <tbody>
                      <tr v-for="(value,key) in tenMoreAttendance">
                        <td><a href="#">{{value.first_name}} {{value.middle_name || " "}} {{value.last_name}}</a></td>
                        <td>{{value.missed_votes}}</td>
                        <td>{{value.missed_votes_pct}}</td>
                      </tr>
                    </tbody>
                </table>
              </div>
            </div>
            <div class="col-md-6">
              <h3>Most Engaged (Top 10% Attendance)</h3>
              <div class="table">
                <table class="table-bordered">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Missed Votes</th>
                      <th>% Missed Votes</th>
                    </tr>
                  </thead>
                    <tbody>
                      <tr v-for="(value,key) in tenLessAttendance">
                        <td><a href="#">{{value.first_name}} {{value.middle_name || " "}} {{value.last_name}}</a></td>
                        <td>{{value.missed_votes}}</td>
                        <td>{{value.missed_votes_pct}}</td>
                      </tr>
                    </tbody>
                </table>
              </div>
            </div>
          </div>
      </article>
    </section>
    </div>
  </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="assets/js/house.js"></script>
         <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>